.App {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.accord_section {
  width: 500px;
  margin: 0 auto;
}
.accord_title {
  display: flex;
  justify-content: space-between;
  background-color: rgb(175, 175, 175);
  padding: 10px 50px;
  color: white;
}
.accord_title > span {
  transition: linear;
}

.accord_title:hover {
  background-color: dimgray;
  cursor: pointer;
}

.accord_content {
  padding: 10px;
  background-color: lightgray;
}

.hide {
  display: none;
}
